<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Verificación de Google -->
    <meta name="google-site-verification" content="DNI2oPkLXDQIcajrMcw40VTeRtBmnIycQWxZS1J3dgQ" />

    <title>GEODIS Decision Intelligence</title>
</head>

<body>

    <h1>🚚 Plataforma GEODIS</h1>

    <h2>Decision Intelligence</h2>

    <p>Bienvenido a la plataforma de analítica logística de GEODIS.</p>

</body>

</html>